{% extends "base.html" %}

{% load i18n profile_tags static %}

{% block head_title %}{% trans "Login" %}{% endblock %}

{% block body_class %}login{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/login.css?deployment={{ DEPLOYMENT_DATETIME }}" type="text/css"/>
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>Login</h1>
        <a class="login-btn login-github" href="{% url 'social:begin' 'github' %}"><i class="icon-github"></i>Github</a>
        <a class="login-btn login-gitlab" href="{% url 'social:begin' 'gitlab' %}"><i class="icon-gitlab"></i>Gitlab</a>
<!--        <a class="login-btn login-facebook" href="{% url 'social:begin' 'facebook' %}"><i class="icon-facebook"></i>Facebook</a>-->
        <a class="login-btn login-hivesigner" href="{% url 'social:begin' 'hivesigner' %}"><i class="icon-hive"></i>HiveSigner</a>
    </div>
{% endblock %}

